/.metadata
/ApplicationDemo/bin-debug
/ApplicationDemo/bin-release
/ApplicationExplorer/bin-debug
/ApplicationExplorer/bin-release
/ApplicationExplorerAndroid/bin-debug
/ApplicationExplorerAndroid/bin-release
/ApplicationMarkers/bin-debug
/ApplicationMarkers/bin-release
/ApplicationRemotair/bin-debug
/ApplicationRemotair/bin-release
/ApplicationStarlingComponent/bin-debug
/ApplicationStarlingComponent/bin-release
/YCanvasLibrary/bin
/ApplicationExplorerAndroid/run.bat
