/.metadata
/ApplicationDemo/bin-debug
/ApplicationDemo/bin-release
/ApplicationExplorer/bin-debug
/ApplicationExplorer/bin-release
/ApplicationRemotair/bin-debug
/ApplicationRemotair/bin-release
/YCanvasLibrary/bin